In [28]:
##enumerate함수: 열거하다.
##많은 양의 데이터인 list를 다룰 때 편리하게 쓸 수 있는 기능을 제공
##for-each, for
#for x in list(포이치문): 리스트에 있는 것들을 하나씩 꺼내서 처리하기에 아주 간단
#                         index가 없어서 불편
#                         하나씩 꺼내서 출력, 연산하기는 용이
#                         리스트에 입력은 안된다.
# for i in range(n)(원래포문):리스트의 입력과 출력이 다 됨.
#                             인덱스로 리스트에 있는 값들을 접근해야하기 때문에 
#                             코드가 복잡하게 보인다.

In [29]:
# 주요 라이브러리 import
import warnings
warnings.filterwarnings(action='ignore')
import time
from IPython.display import Image
from sklearn.datasets import fetch_openml
import sklearn.datasets as data
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [30]:
num_list = [100,200,300]

In [31]:
for x in num_list:
    print(x+100)

200
300
400

In [32]:
for x in enumerate(num_list):#enumerate:튜플로 인덱스가 붙어서 나오게 해준다.
    print(x)

(0, 100)
(1, 200)
(2, 300)

In [33]:
for i,x in enumerate(num_list):#enumerate:튜플로 인덱스가 붙어서 나오게 해준다.
    print(i,':',x)#i에 인덱스 넣고 x에 값 넣어서 출력

0 : 100
1 : 200
2 : 300

In [34]:
for i,x in enumerate(num_list):#enumerate:튜플로 인덱스가 붙어서 나오게 해준다.
    num_list[i] = x+100

In [35]:
#포이치문은 인덱스가 없어서 리스트값을 바꾸는게 불가능했는데
#enumerate함수를 사용하면 가능해진다.
num_list

[200, 300, 400]

In [42]:
from sklearn.model_selection import KFold

In [43]:
kfold = KFold(n_splits=5)

In [44]:
titanic_df = pd.read_csv('./titanic_train.csv')

In [49]:
print(titanic_df.head())

   pclass  survived                               name     sex   age  sibsp  \
0       2         1  Mellinger, Miss. Madeleine Violet  female  13.0      0
1       2         1                  Wells, Miss. Joan  female   4.0      1
2       2         1     Duran y More, Miss. Florentina  female  30.0      1
3       3         0                 Scanlan, Mr. James    male   NaN      0
4       3         1       Bradley, Miss. Bridget Delia  female  22.0      0

   parch         ticket     fare cabin embarked  body  \
0      1         250644  19.5000   NaN        S   NaN
1      1          29103  23.0000   NaN        S   NaN
2      0  SC/PARIS 2148  13.8583   NaN        C   NaN
3      0          36209   7.7250   NaN        Q   NaN
4      0         334914   7.7250   NaN        Q   NaN

                                           home.dest
0                           England / Bennington, VT
1                               Cornwall / Akron, OH
2                    Barcelona, Spain / Havana, Cuba
3                                                NaN
4  Kingwilliamstown, Co Cork, Ireland Glens Falls...

In [46]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898 entries, 0 to 897
Data columns (total 13 columns):
pclass       898 non-null int64
survived     898 non-null int64
name         898 non-null object
sex          898 non-null object
age          728 non-null float64
sibsp        898 non-null int64
parch        898 non-null int64
ticket       898 non-null object
fare         898 non-null float64
cabin        211 non-null object
embarked     896 non-null object
body         84 non-null float64
home.dest    516 non-null object
dtypes: float64(3), int64(4), object(6)
memory usage: 91.3+ KB

In [47]:
##함수(drop)
##name,ticket,body,home.dest

In [41]:
##na처리
##age는 평균으로 채워주세요
##cabin은 N으로 채워주세요
##embarked는 N으로 채워주세요(fillna())
##na개수가 몇개인지 전체 카운트