In [1]:
# 주요 라이브러리 import
import warnings
warnings.filterwarnings(action='ignore')
import time
from IPython.display import Image
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_openml
import sklearn.datasets as data
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

In [ ]:
###라벨 인코딩할 컬럼이 1개인 경우

In [3]:
계절 = ['봄','여름','가을','겨울']

In [4]:
#df = index + Series
#Series = index + values(ndarray)

In [5]:
#df에서 하나의 열은 series객체이다.

In [6]:
data = pd.Series(계절)

In [7]:
data

0     봄
1    여름
2    가을
3    겨울
dtype: object

In [9]:
encoder = LabelEncoder()
#여자는 0번 남자는 1번 이런식으로 알아서 바꿔주는 객체 생성.

In [10]:
encoder.fit(data)#인코딩해줄 데이터를 정리개념!#(가을을 2번으로 하고 겨울을 3번으로 하자~)
#어떤것을 어떤 번호로 인코딩해야할지 정하는 역할
#가을,겨울,봄,여름 순으로 0,1,2,3 지정

LabelEncoder()

In [11]:
encoder.classes_

array(['가을', '겨울', '봄', '여름'], dtype=object)

In [16]:
변환할컬럼 = ['가을', '겨울', '봄', '여름', '겨울','봄','여름','봄','여름']

In [18]:
target = pd.Series(변환할컬럼)

In [19]:
encoder.transform(target)

array([0, 1, 2, 3, 1, 2, 3, 2, 3])

In [21]:
target2 = encoder.transform(target)
print(target2, type(target2))

[0 1 2 3 1 2 3 2 3] <class 'numpy.ndarray'>

In [22]:
#inverse:거꾸로 되돌리다.(reverse)
array1 = [1,3,4,5,7,8,9]
list.reverse(array1)
array1

[9, 8, 7, 5, 4, 3, 1]

In [24]:
target3 = encoder.inverse_transform(target2)
target3

array(['가을', '겨울', '봄', '여름', '겨울', '봄', '여름', '봄', '여름'], dtype=object)

In [25]:
##라벨 인코딩할 컬럼이 2~3개인 경우

In [26]:
words = ['apple', 'summer', 'summer', 'spring', 'spring']
hobby = ['book', 'run','talk','coffee','song']

In [28]:
df = pd.DataFrame({'words':words,'hobby':hobby})
df

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [29]:
encoder2 = LabelEncoder()

In [30]:
col = df.columns
col

Index(['words', 'hobby'], dtype='object')

In [31]:
#int:객체
#integer:함수를 가질 수 있는 클래스

In [32]:
for c in col:
    df[c] = encoder2.fit_transform(df[c])

In [33]:
df

   words  hobby
0      0      0
1      2      2
2      2      4
3      1      1
4      1      3

In [36]:
#나이(10, 20, 30): 연속적인 숫자 => 라벨인코딩의 대상이 되지 않음.
#나이대(어린이, 성년, 노년): 연속적인 숫자가 아님 =>라벨인코딩의 대상이 됨. category

In [37]:
##원핫 인코딩! ##
##라벨인코딩: 연속형이 아닌 데이터를 원하는 형태의 숫자로 바꾸어주는 것!
##            1) 연속형이 아닌 데이터를 숫자로 변환: LabelEncodertt사용
##              fit()--transform(),fit_transform()
##            2) 숫자로만 변환하는 경우, 컴퓨터는 연속형 숫자로 오해하여 연산수행하여
##               의도치 않은 결과가 나올 수 있음. 해당됨을 나타나게 하기 위해
##               라벨의 갯수만큼 컬럼을 만들어주고 해당되는 라벨에 표시(1)로 해주는 방법을 사용
##               원핫인코딩

In [38]:
data2 = pd.Series(['apple', 'summer', 'spring', 'summer', 'spring'])
data2

0     apple
1    summer
2    spring
3    summer
4    spring
dtype: object

In [40]:
data2.unique()#3개의 컬럼이 만들어진다.

array(['apple', 'summer', 'spring'], dtype=object)

In [41]:
pd.get_dummies(data2)

   apple  spring  summer
0      1       0       0
1      0       0       1
2      0       1       0
3      0       0       1
4      0       1       0

In [44]:
df2 = pd.DataFrame({"words" : ['apple', 'summer', 'summer', 'spring', 'spring'], 
                    "hobby" : ['book', 'run','talk','coffee','song']})
df2

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [45]:
pd.get_dummies(df2)

,words_apple,words_spring,words_summer,hobby_book,hobby_coffee,hobby_run,hobby_song,hobby_talk
0,1,0,0,1,0,0,0,0
1,0,0,1,0,0,1,0,0
2,0,0,1,0,0,0,0,1
3,0,1,0,0,1,0,0,0
4,0,1,0,0,0,0,1,0

In [46]:
pd.get_dummies(df2.loc[:,['words','hobby']])#겟더미스 컬럼 지정해서 여러개 가져오기 가능.

,words_apple,words_spring,words_summer,hobby_book,hobby_coffee,hobby_run,hobby_song,hobby_talk
0,1,0,0,1,0,0,0,0
1,0,0,1,0,0,1,0,0
2,0,0,1,0,0,0,0,1
3,0,1,0,0,1,0,0,0
4,0,1,0,0,0,0,1,0